doctype html
html
	head
		title Interface
		include ../j_piece/inheader
		script(type="text/javascript", src="../lib/codemirror/lib/codemirror.js")
		link(href="../lib/codemirror/lib/codemirror.css", rel="stylesheet")
		link(href="../lib/codemirror/theme/monokai.css", rel="stylesheet")
		script(type="text/javascript", src="../lib/codemirror/mode/livescript/livescript.js")


	body
		div.container
			div.row
				div.col-lg-12
					form
						textarea#codeeditor.
							#type in livescript to clean up data
							data |> console.log


					br
					button.btn.btn-warning eval
						
					//- div.jsscript
		//- 				pre
		//- 					code.livescript.codeholder
		//- 			div.tableholder

		script(type="text/javascript", src="./js/codeMirror.js")